/* classes genericas */
.center {
    display: flex;
    justify-content: center;
}

.column {
    align-items: center; 
    flex-direction: column;
}





.npc {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-image: url("../../../public/assets/Textures/scroll.png");
    background-repeat: no-repeat;
    background-size: 100%;

    width: 35%;
    height: 80%;

    color: var(--castanho-6);
}

.npc p {
    margin-top: 4rem;
}



/* remove default settings of button */
#close {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    text-align: inherit;
    font: inherit;
    border-radius: 0;
    appearance: none;
}

#close {
    position: absolute;
    top: 5%;
    right: 8%;

    color: var(--castanho-5);
    font-weight: bold;

    cursor: pointer;

}


.craftB_NPC {
    border: 3px solid var(--castanho-4);
    background-color: var(--castanho-3);

    padding: 0.5rem 1rem;

    color: var(--castanho-5);
    font-weight: bold;

    transition: 250ms;
}

.craftB_NPC:hover {
    cursor: pointer;

    background-color: var(--castanho-4);

    color: var(--castanho-6);

    transition: 250ms;
}

/* test */
/* .npc,
.recipe,
#close {
    border: 2px solid red;
} */

