.item {
    display: flex;
    background-color: #eee;
    width: 45px;
    height: 45px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.quantity {
    color: black;
}

.item-list {
    display: flex;
    margin-bottom: 2rem;
}